
{{!-- The body and 1st div tag can be added to main.handlebars for DRY --}}
<body class="bg-slate-200">
    
    {{!-- Popup for delete btn --}}
     <div id="popup" class="hidden popup mx-auto w-2/5 py-5 my-10 bg-slate-400 hover:bg-slate-300 border-2 border-slate-700 ring-2 ring-slate-900 hover:ring-4 hover:ring-slate-100">
        <img src="https://img.icons8.com/arcade/100/null/delete-forever.png" class="mx-auto">
        <h2 class="text-center">Delete this post?</h2>
            <div id="btn-card" class="flex flex-row justify-center pt-5">
                <button id="yes" class="mx-auto w-1/5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Yes<button>
                <button id="no" class="mx-auto w-1/5 text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">No<button>
            </div>
    </div>
{{!-- Encases the whole content except for popup --}}
<div id="main">

    <div class="container-fill mx-auto mb-5 py-5 text-xl bg-gradient-to-t from-slate-300 to-slate-500">
  <h2 class="text-center transform transition duration-500 hover:scale-125 hover:text-neutral-50">
    <strong>{{user.first_name}}'s profile</strong></h2>
</div>
    <div id="hero" class="my-5 pl-5 md:pl-14 bg-slate-200">
        <div id="head" class="text-3xl font-semibold">My posts:</div>
        
        {{#each user.blog_posts as |post|}}
        <div id="posts" class="flex flex-col bg-gradient-to-t from-zinc-100 to-zinc-400 text-center my-5 border-2 border-slate-900 border-solid md:w-1/2 md:container-fill mx-auto"> 
            <div id="title-card" class="flex flex-row px-10">
                <h2 id="post-title" class="justify-self-start text-3xl"><strong>{{post.title}}</strong></h2>
                {{!-- This does not work as user_id does not exists within this #each helper --}}
                 {{!-- {{#ifEquals post.user_id user_id}}  --}}
                    <div id="buttons" class="container text-end"> 
                    <a href='/updatepost/{{post.id}}' id="edit-post-btn" class="inline-block text-gray-500 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5"> 
                        <img src="https://img.icons8.com/sf-regular-filled/36/null/edit-property.png"/>
                    </a>
     {{!-- Using id as it can be read for both imgs and buttons as event.target can result in either img or button el --}}
                    <button id="{{post.id}}" onclick="deletePost(event)" class="delete-post-btn inline-block text-gray-500 -translate-y-2 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5"> 
                        <img id="{{post.id}}" src="https://img.icons8.com/fluency-systems-filled/34/null/delete-forever.png"/>
                    </button>
                    </div> 
                 {{!-- {{/if}} --}}
            </div>
      
                    <hr class="my-2 border-2 border-slate-900 border-solid">
                <div id="content-card" class="pb-5 my-5">
                    <p id="post-content">{{post.content}}</p>
                </div>
                    <hr class="my-2 border-2 border-slate-900 border-solid">
                <div id="about-card" class="flex flex-row justify-around pb-5 px-2">
                    <p id="about" class="container text-right mr-5">Posted on: {{{format_date post.date_created}}} </p>
                </div>

        </div>
    {{/each}}
        {{!-- If no posts exists show this --}}
        {{#ifEquals user.blog_posts.length 0}}
        <div class="w-full p-4 text-center bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">You don't have any posts right now!</h5>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Create a post or view other user's post on the homepage.</p>
    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
         <a href="/post" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create post</a>
        <a href="/" class="w-full text-white bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-gray-900 dark:focus:ring-blue-800">Back to home</a>
        {{!-- <a href="#" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <svg class="mr-3 w-7 h-7" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path></svg>
            <div class="text-left">
                <div class="mb-1 text-xs">Download on the</div>
                <div class="-mt-1 font-sans text-sm font-semibold">Mac App Store</div>
            </div>
        </a> --}}
        {{/ifEquals}}
    </div>

</div>

    <script src="/js/dashboard.js"></script>
</body>