{{!-- The body and 1st div tag can be added to main.handlebars for DRY --}}
<body class="bg-slate-200">
    <div id="hero" class="my-5 bg-slate-200">
        {{!-- Could be turn into a partial, however the post-card is slightly different on the Dashboard(profile) page --}}
    {{#each blogPosts as |post|}}
        <div id="posts" class="flex flex-col bg-gradient-to-t from-zinc-100 to-zinc-400 text-center my-5 border-2 border-slate-900 border-solid md:w-1/2 md:container-fill mx-auto"> 
        <div id="title-card" class="flex flex-row justify-around">
                <h2 id="post-title" class="text-left text-3xl"><strong>{{post.title}}</strong>
                </h2>
            
        </div>
                    <hr class="my-2 border-2 border-slate-900 border-solid">
                <div id="content-card" class="pb-5 my-5">
                    <p id="post-content">{{post.content}}</p>
                </div>
                    <hr class="my-2 border-2 border-slate-900 border-solid">
                <div id="about-card" class="flex flex-row justify-around pb-5 px-2">
                    <p id="user" class="text-start">
                                Posted by: {{post.user.first_name}} {{post.user.last_name}} 
                    </p>
                    <p id="about" class="text-right">On: {{{format_date post.date_created}}} </p>
                </div>

        </div>
    {{/each}}
    </div>
</body>

{{!-- <script src="/js/homepage.js"></script> --}}